@model IEnumerable<Funcionario>

@{
    ViewData["Title"] = "Criar";
}

<h3><center>Listar Funcionários</center></h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome do Funcionário</th>
            <th>Setor</th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                    <td>@item.Id</td>
                    <td>@item.NomeFuncionario</td>
                    <td>@item.Setor.NomeSetor</td>
                    </tr>
                }
            }
    </tbody>
</table>

