@model IEnumerable<Funcionario>

@{
    ViewData["Title"] = "Pesquisa de Funcionário";
}

<h3><center>Listar Funcionários</center></h3>
<div>
    <form asp-action="Search">
        <input name="NomeFuncionario" type="search" placeholder="Digite o nome do funcionário" class="form-control">
        <BR />
        <input type="submit" value="Pesquisar" class="btn btn-primary" /> <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome do Funcionário</th>
            <th>Setor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NomeFuncionario</td>
                    <td>@item.Setor.NomeSetor</td>
                </tr>
            }
        }
    </tbody>
</table>

